@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rajdhani&display=swap');
.container {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fcfcfc;
}
.frame {
    /* width: 25%; */
    /* background: rgb(231, 203, 184); */
    background: rgb(228,210,192);
    height: 500px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /* padding: 100px; */
    width: 30%;
}
.landingImg {
    /* z-index: 2; */
    background: transparent;
    /* height:400px; */
    z-index: 3;
    margin: 15px auto;
}
.landingImg img {
    height: 340px;
    width: 100%;
    background-size: contain;
}
.intro h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 3.5rem;
}
.intro h3 {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}
.intro {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-right: 100px;
}
.adjetivos {
    /* background: #fcfcfc; */
    display: flex;
    z-index: 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}
.adjetivos div {
    margin: 0 50px;
    padding: 6px;
    /* width: 50%; */
    background-origin: padding-box;
    /* background: rgb(245, 230, 220); */
    background: rgb(241, 236, 231);
    font-size: 16px;
}
.adjetivos p {
    font-size: 12px;
    line-height: normal;
}
.intro button {
    padding: 0.5rem;
    background: rosybrown;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    background: rgb(92, 159, 204);
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}
.intro button:hover {
    background: rgb(131, 193, 235);
    color: rgb(109, 107, 107);
}


@media screen and (max-width: 720px) {
    .landingImg img {
        height: 260px;
        width: 110%;
    }
    .frame {
        height: 430px;
    }
    .intro h2 {
        font-size: 2.5rem;
    }
    .intro h3 {
        font-size: 2rem;
    }
    .adjetivos div {
        margin: 10px 30px;
        padding: 6px;
        background: rgb(241, 236, 231);
        font-size: 13px;
    }
}


/* On small phones such as the iPhone 6, 7, and 8 plus */
@media screen and (max-width: 420px) {
    .landingImg img {
        height: 180px;
        width: 100%;
    }
    .frame {
        height: 340px;
    }
    .intro h2 {
        font-size: 1.6rem;
    }
    .intro h3 {
        font-size: 1.5rem;
    }
    .intro {
        padding-right: 10px;
    }
    .adjetivos div {
        margin: 10px 10px;
        padding: 4px;
        background: rgb(241, 236, 231);
        font-size: 12px;
    }
}
